<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>

<body>
    <div id="app">
        <select v-model="Part">
            <option v-for="(part, index) in Parts" :value="index" :key="index" v-if="Parts[index].Amount>0">
                {{part.Name}}</option>
        </select>
        <div v-if="Parts[Part].Amount>0">
            <label>Cantidad disponible:<label v-text="Parts[Part].Amount"></label></label>
            <label>Precio C/U:<label v-text="Parts[Part].Price"></label></label>
            <input type="number" v-model="Amount" max="Parts[Part].Amount" name="" id="">
            <button @click="AddToCart"></button>
        </div>
        <div>----- Cart ----</div>
        <div v-if="Cart.lenght>0">
            <table>
                <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Total
                </th>
                </tr>
                <tr v-for="(product, index) in Cart" :value="index" :key="index">
                    <td></td>
                </tr>
            </table>
        </div>
        <div v-else>
            <label >sin elementos</label>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>

<script src="Parts.js"></script>

</html>