    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>

<body>
    <div id="root">
            <select v-model="Part">
            <option v-for="(part, index) in Parts" :value="index" v-show="part.Amount>0">
                {{part.Name}}</option>
            </select>
        <div v-show="Part!=''">
            <label>Cantidad disponible:<label v-text="Part.Amount"></label></label>
            <label>Precio C/U:<label v-text="Part.Price"></label></label>
            <input type="number" v-model="Amount" max="Part.Amount" name="" id="">
            <button @click="partialSell">press me!</button>
        </div>
        <div>----- Cart ----</div>
        <div >
            <table>
                <tr>
                <th>
                    Producto
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Total
                </th>
                </tr>
                <tr v-for="(product, index) in PartialSale" :value="index" :key="index">
                    <td>{{product.Name}}</td>
                    <td>{{product.Amount}}</td>
                    <td>{{product.Price}}</td>
                </tr>
            </table>
        </div>
        <div v-else>
            <label >sin elementos</label>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>

<script src="Parts.js"></script>

</html>