<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>

<body>
    <div id="root">
        <select v-model="Part">
            <option v-for="(part, index) in Parts" :value="index" v-show="part.Amount>0">
                {{part.Name}}</option>
        </select>
        <select v-model="Car">
            <option v-for="(car, index) in Cars" :value="index">
                {{car.Nid}} - {{car.Name}}</option>
        </select>
        <div v-show="Part!=''">
            <div v-for="(part, index) in Parts" :value="index" v-show="Part==index">
                <label>Cantidad disponible: <label v-text="Parts[index].Amount"> </label></label>
                <label>Precio C/U: <label v-text="Parts[index].Price"></label> </label>
                <input type="number" v-model="Amount" max="Part.Amount" name="" id="">
                <button @click="partialSell">press me!</button>
            </div>
        </div>
        <div>----- Cart ----</div>
        <div v-show="PartialSale.length!=0">
            <table>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                <tr v-for="(product, index) in PartialSale" :value="index" :key="index">
                    <td>{{product.Name}}</td>
                    <td>$ {{product.Price}}</td>
                    <td>{{product.Amount}}</td>
                    <td>$ {{product.Total}}</td>
                </tr>
            </table>
        </div>
        <div v-show="PartialSale.length==0">
            <label>sin elementos</label>
        </div>
        <button @click="sell" v-show="Car!=-1 && PartialSale.length!=0">Continuar</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>

<script src="Parts.js"></script>

</html>