<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../Img/Favicon.ico" />
    <title>Usuario</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="user" class="bg-black">
      <div v-if="User">
        <div
          class="fixed top-16 left-12 w-20 rotate-180 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
        >
          <a href="../../index.html">
            <img src="./Img/right_arrow.svg" alt="" width="100" />
          </a>
        </div>
        <div
          class="fixed top-20 right-10 w-20 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
        >
          <img src="./Img/Untitled (3).svg" alt="" width="66" />
        </div>
        <div
          class="fixed top-48 right-[2rem] w-20 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
        >
          <a href="../../Automotores/Form/index.html">
            <img src="./Img/icons8-add-file-100.png" alt="" width="55" />
          </a>
        </div>
        <div v-if="orderPerUser.length > 0">
          <section
            class="py-20 bg-black"
            v-for="order in orderPerUser"
            style="font-family: 'trs"
          >
            <div
              class="max-w-5xl mx-auto py-16 bg-white rounded-none border-2 border-black shadow-xl border-2 border-black relative shadow-pop-bl"
            >
              <article class="overflow-hidden">
                <div class="bg-[white] rounded-b-md">
                  <div class="p-9">
                    <div class="space-y-6 text-slate-700">
                      <img
                        class="object-cover h-12 border-2 border-black"
                        src="../../Img/Rectangle 5.svg"
                      />

                      <p
                        class="text-3xl font-extrabold tracking-tight uppercase font-body"
                      >
                        Automotores Facturación Electronica
                      </p>
                      <h1
                        class="absolute top-14 right-16 text-2xl font-extrabold"
                      >
                        Factura {{ order.orderNumber }}
                      </h1>
                      <h1
                        class="absolute top-24 bg-yellow-200 right-16 text-xl font-extrabold"
                      >
                        3 meses de garantia
                      </h1>
                    </div>
                  </div>
                  <div class="p-9">
                    <div class="flex w-full">
                      <div class="grid grid-cols-4 gap-12">
                        <div class="text-base font-light text-slate-500">
                          <p class="text-base font-bold text-slate-700">
                            Detalles Factura:
                          </p>
                          <p>Automotores SAS</p>
                          <p>Colombia</p>
                          <p>Medellin</p>
                          <p>CA 1234</p>
                        </div>
                        <div class="text-base font-light text-slate-500">
                          <p class="text-base font-bold text-slate-700">
                            Pertenece <a href=""></a>
                          </p>
                          <p>{{ order.name }} {{ order.lastname }}</p>
                          <p>{{ order.address }}</p>
                          <p>{{ order.phoneNumber }}</p>
                        </div>
                        <div class="text-base font-light text-slate-500">
                          <p class="text-base font-bold text-slate-700">
                            Numero de factura
                          </p>
                          <p>{{ order.orderNumber}}</p>

                          <p class="mt-2 text-sm font-bold text-slate-700">
                            Fecha Ingreso
                          </p>
                          <p>{{ order.dateOfEntry}}</p>
                        </div>
                        <div class="text-base font-light text-slate-500">
                          <p class="text-base font-bold text-slate-700">
                            Fecha de entrega
                          </p>
                          <p>{{ order.deliveryDate }}</p>
                          <p class="text-base font-bold text-slate-700">
                            Mecanico
                          </p>
                          <p>{{ `${order.mechanic.name} ${order.mechanic.lastname}` }}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="p-9">
                    <div class="flex flex-col mx-0 mt-8">
                      <table class="min-w-full divide-y divide-slate-500">
                        <thead>
                          <tr>
                            <th
                              scope="col"
                              class="py-3.5 pl-4 pr-3 text-left text-lg font-bold text-slate-700 sm:pl-6 md:pl-0"
                            >
                              Descripción
                            </th>
                            <th
                              scope="col"
                              class="hidden py-3.5 px-3 text-right text-lg font-bold text-slate-700 sm:table-cell"
                            >
                              Cantidad
                            </th>
                            <th
                              scope="col"
                              class="hidden py-3.5 px-3 text-right text-lg font-bold text-slate-700 sm:table-cell"
                            >
                              Valor
                            </th>
                            <th
                              scope="col"
                              class="py-3.5 pl-3 pr-4 text-right text-lg font-bold text-slate-700 sm:pr-6 md:pr-0"
                            >
                              Suma
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="border-b border-slate-200"
                            v-for="part in order.parts"
                          >
                            <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                              <div class="font-medium text-slate-700">
                                {{ part.Name}}
                              </div>
                              <div class="mt-0.5 text-slate-500 sm:hidden">
                                1 unidad a {{ part.Price}} COP
                              </div>
                            </td>
                            <td
                              class="hidden px-3 py-4 text-sm text-right text-slate-500 sm:table-cell"
                            >
                              {{ part.cant }}
                            </td>
                            <td
                              class="hidden px-3 py-4 text-base text-right text-slate-500 sm:table-cell"
                            >
                              {{ part.Price }} COP
                            </td>
                            <td
                              class="py-4 pl-3 pr-4 text-base text-right text-slate-500 sm:pr-6 md:pr-0"
                            >
                              {{ part.Price }} COP
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th
                              scope="row"
                              colspan="3"
                              class="hidden pt-6 pl-6 pr-3 text-base font-light text-right text-slate-500 sm:table-cell md:pl-0"
                            >
                              Subtotal
                            </th>
                            <th
                              scope="row"
                              class="pt-6 pl-4 pr-3 text-base font-light text-left text-slate-500 sm:hidden"
                            >
                              Subtotal
                            </th>
                            <td
                              class="pt-6 pl-3 pr-4 text-base text-right text-slate-500 sm:pr-6 md:pr-0"
                            >
                              {{ order.subtotal }} COP
                            </td>
                          </tr>
                          <tr>
                            <th
                              scope="row"
                              colspan="3"
                              class="hidden pt-6 pl-6 pr-3 text-sm font-light text-right text-slate-500 sm:table-cell md:pl-0"
                            >
                              Descuento
                            </th>
                            <th
                              scope="row"
                              class="pt-6 pl-4 pr-3 text-base font-light text-left text-slate-500 sm:hidden"
                            >
                              Descuento
                            </th>
                            <td
                              class="pt-6 pl-3 pr-4 text-base text-right text-slate-500 sm:pr-6 md:pr-0"
                            >
                              25%
                            </td>
                          </tr>
                          <tr>
                            <th
                              scope="row"
                              colspan="3"
                              class="hidden pt-4 pl-6 pr-3 text-base font-light text-right text-slate-500 sm:table-cell md:pl-0"
                            >
                              IVA
                            </th>
                            <th
                              scope="row"
                              class="pt-4 pl-4 pr-3 text-base font-light text-left text-slate-500 sm:hidden"
                            >
                              IVA
                            </th>
                            <td
                              class="pt-4 pl-3 pr-4 text-base text-right text-slate-500 sm:pr-6 md:pr-0"
                            >
                              19%
                            </td>
                          </tr>
                          <tr>
                            <th
                              scope="row"
                              colspan="3"
                              class="hidden pt-4 pl-6 pr-3 text-sm font-normal text-right text-slate-700 sm:table-cell md:pl-0"
                            >
                              Total
                            </th>
                            <th
                              scope="row"
                              class="pt-4 pl-4 pr-3 text-base font-bold text-left text-slate-700 sm:hidden"
                            >
                              Total
                            </th>
                            <td
                              class="pt-4 pl-3 pr-4 text-base font-bold text-right text-slate-700 sm:pr-6 md:pr-0"
                            >
                              {{ order.total }} COP
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>

                  <div class="mt-48 p-9">
                    <div class="border-t pt-9 border-slate-200">
                      <div class="text-sm font-light text-slate-700">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Placeat excepturi ullam praesentium perferendis
                          ipsum quo quasi non ipsam nesciunt, necessitatibus
                          unde aliquam deserunt. Voluptas ut provident sit et.
                          Harum, id! Lorem ipsum dolor sit amet, consectetur
                          adipisicing elit. Perspiciatis saepe quo laudantium
                          odio dolores, eos sunt blanditiis beatae labore
                          repellat expedita fuga. Laboriosam vitae saepe et
                          adipisci officiis, alias obcaecati? Lorem ipsum dolor
                          sit amet consectetur, adipisicing elit. Obcaecati quo
                          doloremque fugit quas exercitationem id incidunt
                          similique, deserunt, itaque fuga ea soluta dolore.
                          Quibusdam laborum quae voluptate corrupti sit sequi.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </section>
        </div>
        <div v-else class="bg-black w-full h-screen">
          <div
            class="z-20 fixed top-72 left-[33rem] w-96 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
          >
            <div
              class="rounded-none border-2 border-black shadow-xl border-2 border-black shadow-pop-bl"
            >
              <h1
                class="font-bold uppercase text-xl bg-yellow-200"
                style="font-family: 'color-basic'"
              >
                Al parecer no tienes ordenes para listar, que tal si creamos
                una?
                <a href="../.././automotores/Form/index.html"
                  ><code style="font-family: 'color-basic'" class="text-sm"
                    >Aquí</code
                  ></a
                >
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="h-screen bg-black">
        <h1 class="text-white">Debes loguearte primero</h1>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
