<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../Img/Favicon.ico" />
    <title>Formulario</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--    <link href="./css/mobiscroll.javascript.min.css" rel="stylesheet" />
    <script src="./js/mobiscroll.javascript.min.js"></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #b9b9b9;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #1d1e1e;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #2c3333;
      }

      .elspan {
        cursor: pointer;
      }

      .minus,
      .plus {
        width: 20px;
        height: 20px;
        background: #f2f2f2;
        border-radius: 4px;
        padding: 8px 5px 8px 5px;
        border: 1px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
      .elinput {
        height: 34px;
        width: 100px;
        text-align: center;
        font-size: 26px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
      }
    </style>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div id="form">
      <nav
        class="bg-white px-6 sm:px-4 py-2 fixed w-full z-20 top-0 left-0 border-b-2 border-black dark:border-black"
      >
        <div
          class="container flex flex-wrap items-center justify-between mx-auto m-4"
        >
          <div class="relative">
            <a href="../../index.html">
              <h1
                class="text-4xl font-bold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
                style="
                  font-family: 'color-basic';
                  overflow: 'hidden';
                  float: 'left';
                "
              >
                Automotores
              </h1>
            </a>
          </div>
          <div class="w-[45rem] h-10 relative">
            <span
              class="mt-2 -ml-28 writing text-lg font-bold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
              style="font-family: 'trs"
            >
              Tenemos todo lo necesario para la reparacion o mejora de tu
              vehiculo . . .
            </span>
          </div>
          <div
            class="absolute right-24 border-2 ml-[20rem] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
            v-if="!User"
          >
            <div class="border-2 border-black relative shadow-pop-bl">
              <button class="w-[6rem] h-[2.3rem]">
                <a
                  href="../../Login/index.html"
                  class="text-[1.2rem] font-semibold"
                  style="font-family: 'trs'"
                >
                  Iniciar
                </a>
              </button>
            </div>
          </div>
          <div v-if="User" class="absolute top-6 right-4">
            <div
              class="absolute right-28 ml-[20rem] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
            >
              <div class="border-2 border-black relative shadow-pop-bl">
                <button class="w-[6rem] h-[2.3rem]" @click="logout">
                  <a
                    href="../../index.html"
                    class="text-[1.2rem] font-semibold"
                    style="font-family: 'trs'"
                  >
                    Salir
                  </a>
                </button>
              </div>
            </div>
            <div
              class="absolute -top-1 right-[5.5rem] border-l-2 h-14 border-black"
            ></div>
            <div
              class="absolute right-[6rem] border-2 ml-[20rem] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
            >
              <div class="absolute -top-1 -right-[7.4rem]">
                <button class="w-[6rem] h-[2.3rem]">
                  <a
                    href="../../Login/User/index.html"
                    class="text-[1.2rem] font-semibold"
                  >
                    <img
                      src="../../Img/contact-svgrepo-com.svg"
                      alt="Revisar solicitudes "
                      width="38"
                    />
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <br />
      <br />
      <br />
      <div
        class="z-20 fixed top-48 left-12 w-20 rotate-180 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
      >
        <a href="../../index.html">
          <img src="../../Img/right-arrow-svgrepo-com.svg" alt="" width="60" />
        </a>
      </div>
      <div
        class="z-20 fixed top-48 right-12 w-72 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
        v-if="!User"
      >
        <div
          class="rounded-none border-2 border-black shadow-xl border-2 border-black shadow-pop-bl"
        >
          <h1
            class="font-bold uppercase text-xl bg-yellow-200"
            style="font-family: 'color-basic'"
          >
            Recuerda que debes iniciar sesión para ingresar tu vehiculo, de lo
            contrario tu solicitud no será recibida.
          </h1>
        </div>
      </div>

      <div class="absolute top-28 left-28 w-[90%]">
        <!-- component -->
        <div class="flex justify-center items-center w-full h-full bg-white">
          <div class="container mx-auto my-4 px-4 lg:px-20">
            <div
              class="z-2 w-full p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-none border-2 border-black shadow-xl border-2 border-black relative shadow-pop-bl"
            >
              <div class="flex">
                <h1
                  class="font-bold uppercase text-5xl"
                  style="font-family: 'color-basic'"
                >
                  Ingresar <br />
                  Vehiculo
                </h1>
              </div>
              <div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
                <input
                  class="w-full shadow-md text-black mt-2 p-3 rounded-none border-2 border-black focus:outline-none focus:shadow-outline"
                  style="font-family: 'trs'"
                  placeholder="Nombre*"
                  v-model="input.name"
                />
                <input
                  class="w-full shadow-md text-black mt-2 p-3 rounded-none border-2 border-black focus:outline-none focus:shadow-outline"
                  style="font-family: 'trs'"
                  type="text"
                  placeholder="Apellido*"
                  v-model="input.lastname"
                />
                <select
                  class="col-span-1 w-full shadow-md text-black mt-2 p-3 rounded-none border-2 border-black focus:outline-none focus:shadow-outline"
                  style="font-family: 'trs'"
                  placeholder="Tipo documento*"
                  v-model="input.documentType"
                >
                  <option disabled value="">
                    Selecciona el tipo de documento
                  </option>
                  <option value="NIT">NIT</option>
                  <option value="CC">Cedula Ciudadania</option>
                </select>
                <input
                  class="w-full shadow-md text-black border-2 border-black mt-2 p-3 rounded-none focus:outline-none focus:shadow-outline"
                  style="font-family: 'trs'"
                  type="email"
                  placeholder="Documento*"
                  v-model="input.document"
                />

                <div
                  class="relative col-span-1 w-full shadow-md text-black mt-2 p-3 rounded-none border-2 border-black focus:outline-none focus:shadow-outline tracking-wide bg-black text-white p-3 rounded-none w-full focus:outline-none focus:shadow-outline border-2 border-black relative shadow-pop-bl"
                >
                  <span class="m-2" style="font-family: 'trs'"
                    >Para cuando lo necesitas?</span
                  >

                  <input
                    class="w-full shadow-md text-black w-full mt-8 border-2 tracking-wide bg-black text-white p-3 rounded-none w-full focus:outline-none focus:shadow-outline relative shadow-pop-bl"
                    style="font-family: 'trs'"
                    type="date"
                    placeholder="Para cuando lo necesitas?*"
                    v-model="input.deliveryDate"
                  />
                </div>
                <div class="col-san-1 grid grid-rows-2">
                  <input
                    class="row-span-1 w-full h-14 shadow-md text-black border-2 border-black mt-2 p-3 rounded-none focus:outline-none focus:shadow-outline"
                    style="font-family: 'trs'"
                    type="text"
                    placeholder="Ingresa tu Dirección*"
                    v-model="input.address"
                  />
                  <input
                    class="row-span-2 w-full h-14 shadow-md text-black border-2 border-black mt-2 p-3 rounded-none focus:outline-none focus:shadow-outline"
                    style="font-family: 'trs'"
                    type="text"
                    placeholder="Número Celular*"
                    v-model="input.phoneNumber"
                  />
                </div>

                <select
                  class="col-span-2 w-full shadow-md text-black mt-2 p-3 rounded-none border-2 border-black focus:outline-none focus:shadow-outline"
                  style="font-family: 'trs'"
                  placeholder="Tipo de vehiculo*"
                  v-model="input.vehicleType"
                >
                  <option disabled value="">
                    Selecciona el tipo de vehiculo
                  </option>
                  <option value="suv">SUV</option>
                  <option value="hatchback">Hatchback</option>
                  <option value="crossover">Crossover</option>
                  <option value="convertible">Convertible</option>
                  <option value="sedan">Sedan</option>
                  <option value="sportsCar">Sports Car</option>
                  <option value="minivan">Minivan</option>
                  <option value="coupe">Coupe</option>
                  <option value="wagon">Station Wagon</option>
                  <option value="pickup">Camionetas Pickup</option>
                  <option value="bus">Bus</option>
                  <option value="miniBus">Buseta</option>
                  <option value="truck">Camioneta</option>
                  <option value="allRounder">Todo Terreno</option>
                </select>
                <input
                  class="col-span-2 w-full shadow-md text-black border-2 border-black mt-2 p-3 rounded-none focus:outline-none focus:shadow-outline"
                  style="font-family: 'trs'"
                  type="text"
                  placeholder="Tipo de vehiculo detallado"
                  v-model="input.vehicleTypeDetail"
                />
                <input
                  class="col-span-2 w-full shadow-md text-black border-2 border-black mt-2 p-3 rounded-none focus:outline-none focus:shadow-outline"
                  style="font-family: 'trs'"
                  type="text"
                  placeholder="Placas de tu vehiculo*"
                  v-model="input.licensePlates"
                />

                <div
                  class="relative col-span-2 w-full h-full shadow-md text-black mt-2 p-3 rounded-none border-2 border-black focus:outline-none focus:shadow-outline tracking-wide bg-black text-white p-3 rounded-none w-full focus:outline-none focus:shadow-outline border-2 border-black relative shadow-pop-bl"
                >
                  <span class="m-2" style="font-family: 'trs'"
                    >Que repuestos necesitas?</span
                  >

                  <div
                    class="z-30 mt-4 ml-0 w-full h-80 max-h-80 max-w-full overflow-y-auto"
                  >
                    <!--       <select
                      id="partsSelect"
                      style="font-family: 'trs'"
                      class="form-control selectpicker w-full mt-8 hover:text-white border-2 bg-black text-white p-3 rounded-none focus:outline-none focus:shadow-outline focus:bg-black relative shadow-pop-bl"
                      multiple
                      v-model="input.parts"
                      placeholder="Repuestos"
                    >
                      <option value="" disabled>Repuestos</option>
                    </select> -->
                    <div class="h-full w-full grid grid-cols-1 gap-8">
                      <!-- Card -->
                      <div
                        class="max-w-full mx-auto mt-2 bg-black shadow-lg rounded-nonefocus:outline-none focus:shadow-outline border-2 border-white relative shadow-pop-bl"
                        v-for="part in parts"
                      >
                        <div class="px-4 py-4">
                          <div class="flex items-start">
                            <!-- Icon -->
                            <div
                              class="w-32 h-36 m-0 border-2 border-black rounded-md"
                            >
                              <img
                                :src="part.url"
                                alt=""
                                class="w-full h-full"
                              />
                            </div>
                            <!-- Card content -->
                            <div class="flex-grow truncate">
                              <!-- Card header -->
                              <div
                                class="w-full relative sm:flex justify-between items-center mb-3 ml-4"
                              >
                                <!-- Title -->
                                <h2
                                  class="text-2xl leading-snug font-extrabold text-gray-300 truncate mb-1 sm:mb-0"
                                >
                                  {{ part.Name }}
                                </h2>
                                <h2
                                  class="absolute right-20 text-lg leading-snug font-extrabold text-gray-200 truncate mb-0 sm:mb-0"
                                >
                                  {{part.Price}} COP
                                </h2>
                              </div>
                              <!-- Card body -->
                              <div
                                class="ml-4 flex items-end justify-between whitespace-normal"
                              >
                                <!-- Paragraph -->
                                <div class="max-w-md text-gray-300 col-span-4">
                                  <p class="mb-2">{{ part.description}}</p>
                                </div>
                              </div>
                              <div class="grid grid-cols-4">
                                <div
                                  class="border-2 border-white w-10 h-10 col-span-2 place-self-end"
                                >
                                  <input
                                    type="checkbox"
                                    class="w-full h-full"
                                    :value="part"
                                    v-model="checkedParts"
                                  />
                                </div>
                                <div
                                  class="border-2 border-white w-36 h-10 col-span-2 place-self-center"
                                >
                                  <div class="grid grid-cols-3">
                                    <button
                                      class="col-span-1 place-self-start mt-1"
                                      @click="decrease(part.id)"
                                    >
                                      -
                                    </button>
                                    <label
                                      class="col-span-1 place-self-center mt-1"
                                      >{{ part.cant }}</label
                                    >
                                    <button
                                      class="col-span-1 place-self-end mb-1.5"
                                      @click="increase(part.id)"
                                    >
                                      +
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="message">
                  <p
                    class="font-bold bg-red-200 text-base"
                    style="font-family: 'trs"
                  >
                    {{ message }}
                  </p>
                </div>
                <div v-if="success">
                  <p
                    class="font-bold bg-green-200 text-base"
                    style="font-family: 'trs"
                  >
                    {{ success }}
                  </p>
                </div>
              </div>
              <div class="my-4">
                <textarea
                  placeholder="Falla Detallada del vehiculo. Cuentanos todo lo necesario a tener en cuenta a la hora de reparar tu vehiculo.*"
                  class="w-full h-32 shadow-md text-black border-2 border-black mt-2 p-3 rounded-none focus:outline-none focus:shadow-outline"
                  style="font-family: 'trs'"
                  v-model="input.details"
                ></textarea>
              </div>
              <div
                class="my-2 w-1/2 lg:w-1/4 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
              >
                <button
                  class="uppercase text-sm font-bold tracking-wide bg-black text-white p-3 rounded-none w-full focus:outline-none focus:shadow-outline border-2 border-black relative shadow-pop-bl"
                  style="font-family: 'color-basic'"
                  @click="enter"
                >
                  Ingresar
                </button>
              </div>
            </div>

            <div
              class="z-20 w-full lg:-mt-96 lg:w-2/6 px-8 py-12 ml-auto bg-black rounded-none border-black shadow-xl border-2 border-black relative shadow-pop-bl"
            >
              <div class="flex flex-col text-white z-20">
                <h1
                  class="font-bold uppercase text-4xl my-4"
                  style="font-family: 'color-basic'"
                >
                  Factura A Generar
                </h1>

                <div class="flex my-4 w-2/3 lg:w-full">
                  <div class="flex flex-col">
                    <i class="fas fa-map-marker-alt pt-2 pr-2" />
                  </div>
                  <div class="flex flex-col" style="font-family: 'trs'">
                    <h2 class="text-2xl" v-show="input.name">Para</h2>
                    <p class="text-gray-400">
                      {{input.name}} {{ input.lastname}}
                    </p>
                    <p class="text-gray-400" v-show="input.documentType">
                      Tipo de documento: {{ input.documentType }}
                    </p>
                    <p class="text-gray-400" v-show="input.document">
                      Documento: {{ input.document }}
                    </p>
                    <p class="text-gray-400" v-show="input.deliveryDate">
                      Fecha entrega: {{ input.deliveryDate}}
                    </p>
                    <p class="text-gray-400" v-show="input.address">
                      Dirección: {{ input.address}}
                    </p>
                    <p class="text-gray-400" v-show="input.phoneNumber">
                      Celular: {{ input.phoneNumber}}
                    </p>
                  </div>
                  <br />
                  <div
                    class="flex flex-col max-h-1/2"
                    style="font-family: 'trs'"
                  >
                    <h2
                      class="text-2xl"
                      v-show="input.vehicleType || input.vehicleTypeDetail"
                    >
                      Vehiculo
                    </h2>
                    <p class="text-gray-400" v-show="input.vehicleType">
                      Tipo vehiculo: {{ input.vehicleType }}
                    </p>
                    <p class="text-gray-400" v-show="input.licensePlates">
                      Número Placa: {{ input.licensePlates }}
                    </p>
                  </div>
                  <br />
                  <div
                    class="flex flex-col max-h-1/2"
                    style="font-family: 'trs'"
                  >
                    <div
                      v-if="checkedParts.length > 0"
                      v-for="checked in checkedParts"
                    >
                      <h2 class="text-2xl">
                        <p>{{ checked.Name }} <br /></p>
                      </h2>
                      <p class="text-gray-400">{{checked.cant}}</p>
                    </div>
                    <p
                      class="text-yellow-200 text-xl"
                      v-show="checkedParts.length > 0"
                    >
                      Subtotal: {{subtotal}} COP
                    </p>
                  </div>
                </div>

                <div
                  class="flex my-4 w-2/3 lg:w-full"
                  v-if="input.details"
                  style="font-family: 'trs'"
                >
                  <div class="flex flex-col">
                    <i class="fas fa-phone-alt pt-2 pr-2" />
                  </div>
                  <div class="flex flex-col">
                    <h2 class="text-2xl">Llamanos</h2>
                    <p class="text-gray-400">Tel: xxx-xxx-xxx</p>
                    <p class="text-gray-400">Email: xxx-xxx@xxx.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute w-[100%] h-[2.5rem] -bottom-[11rem] mr-28">
          <footer
            class="p-4 bg-white sm:p-6 border-2 border-black absolute w-full bottom-4"
          >
            <div class="md:flex md:justify-between">
              <div class="mb-6 md:mb-0 border-2 border-black w-28">
                <div class="w-full">
                  <a href="#" class="flex items-center">
                    <img
                      src="../../Img/Rectangle 5.svg"
                      alt="Circle"
                      width="100"
                      class="m-3"
                    />
                  </a>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                  <h2
                    class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-gray-900"
                  >
                    Recursos
                  </h2>
                  <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                      <a href="#" class="hover:underline">Design</a>
                    </li>
                    <li>
                      <a href="#" class="hover:underline">Figma</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h2
                    class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-gray-900"
                  >
                    Siguenos
                  </h2>
                  <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                      <a
                        href="https://github.com/sebastian-crow/automotores"
                        class="hover:underline"
                        >Github</a
                      >
                    </li>
                    <li>
                      <a href="#" class="hover:underline">Discord</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <h2
                    class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-gray-900"
                  >
                    Legal
                  </h2>
                  <ul class="text-gray-600 dark:text-black">
                    <li class="mb-4">
                      <a href="#" class="hover:underline dark:text-gray-400"
                        >Privacy Policy</a
                      >
                    </li>
                    <li>
                      <a href="#" class="hover:underline dark:text-gray-400"
                        >Terms &amp; Conditions</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <br />
            <div class="sm:flex sm:items-center sm:justify-between">
              <span class="text-sm text-gray-500 sm:text-center dark:text-black"
                >© 2023
                <a
                  href="https://github.com/sebastian-crow/automotores"
                  class="hover:underline"
                  >Automotores</a
                >. All Rights Reserved.
              </span>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
